<h1>TP TodoList</h1>
<div *ngIf="auth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
  <div>

  </div>

</ng-template>
<img [src]="photoUrl"/>
<app-todo-list></app-todo-list>
<!--
<form (submit) = service.create(label.value)>

  <input #label/>

</form>

-->




<!--
<input type="text"></input>
<button type="reset" name="Delete" ></button> -->
