<section class="todoapp" *ngIf="todoListObs | async as todo">
  <header class="header">
    <h1>{{todo.label}}</h1>
    <form (submit) = service.create(lab.value)>
      <input  name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus #lab/>
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
    />
    <label for="toggleAll">Mark all as complete</label>
    <ul class="todo-list">
      <li *ngFor="let item of toChange(todoList.items,filter)"
        [class.editing]="todo.isEditing"
      >
        <app-todo-item [todoitem]="item"
        (remove)="delete($event)"
        (update)="update($event)"
          #todo
        >
      </app-todo-item>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"><strong></strong>{{taille}} have to complete</span>
    <ul class="filters">
      <li>
        <a class="filterAll" routerLink="" (click)="change_to_all()">Tous</a>
      </li>
      <li>
        <a class="filterActives" routerLink="" (click)="change_to_activ()">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted" routerLink="" (click)="change_to_else()">Complétés</a>
      </li>
    </ul>
    <button class="clear-completed" (click)="delete_all(todoList.items)">Supprimer cochées</button>
  </footer>
</section>
