
<div class="view">
  <input  class = "toggle"
          type  = "checkbox"
          name  = "done"
          [ngModel] = "todoitem.isDone"
          (change)="update_this()"
  />
  <label  class="texte">
    <div [ngClass]="todoitem.isDone==todoitem.isDone ? 'todo-list li label' :'todo-list li.completed label'">{{todoitem.label}}</div>
  </label>
  <button type="button" class="destroy" (click)="delete()">asddsa</button>

</div>
<form>
  <input  #newTextInput
          name      = "newTextInput"
          class     = "edit"
  />
</form>
