<div class="view">
  <input  class = "toggle"
          type  = "checkbox"
          name  = "done"
          [ngModel] = "todoitem.isDone"
          (change)="update_this()"
  />
  <label  class="texte"
    (dblclick)="isEditing=true"
  >
    <div [class.completed]="todoitem.isDone===true">{{todoitem.label}}
    </div>
  <div *ngIf="this.image!=undefined">
    <img [src]="this.image">
  </div>
  </label>
  <button type="button" [ngClass]="todoitem.isDone? 'destroy' : 'undestroy' " (click)="delete()"></button>
  <div *ngIf="todoitem.isDone==false">
    <input class=""  type="file" (change)="onChange($event)">
    <app-voice-rec
    [interupt]="this.break"
    (speech)="changeLabel($event)">
  </app-voice-rec>
  </div>
  <div *ngIf="this.todoitem.linkForFile||undefined ">
    <a target="_blank" rel="noopener noreferrer" [href]=this.todoitem.linkForFile download="download">Download file</a>
  </div>
</div>
<form #forma="ngForm" (ngSubmit)="changeLabel(newTextInput.value)">
  <input  #newTextInput
          name      = "newTextInput"
          class     = "edit"
          [ngModel]="todoitem.label"
          (blur)="changeLabel(newTextInput.value)"
  />
</form>
