<div class="view">
  <input  class = "toggle"
          type  = "checkbox"
          name  = "done"
          [ngModel] = "todoitem.isDone"
          (change)="update_this()"
  />
  <label  class="texte"
    (dblclick)="isEditing=true"
  >
    <div [class.completed]="todoitem.isDone===true">{{todoitem.label}}</div>

  </label>
  <button type="button" class="destroy" (click)="delete()"></button>

</div>
<form (ngSubmit)="changeLabel(newTextInput.value)">
  <input  #newTextInput
          name      = "newTextInput"
          class     = "edit"
          [ngModel]="todoitem.label"
          (blur)="changeLabel(newTextInput.value)"
  />
</form>

